<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>No Ninjas!</title>
        <link rel="stylesheet" href="{{url_for('static', filename='master.css') }}">
    </head>
    <body>
        <p>
            There is no sign of ninjas, except perhaps for this stack of empty pizza boxes.
        </p>
        <br>
        <a href="/">No Turtles</a><br>
        <a href="/ninja/blue">Leonardo</a><br>
        <a href="/ninja/orange">Michelangelo</a><br>
        <a href="/ninja/red">Raphael</a><br>
        <a href="/ninja/purple">Donatello</a><br>
        <a href="/ninja">All Ninjas!</a>
    </body>
</html>
